.Btn {
  background: rgb(228, 150, 5);
  width: 250px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  border: 0;
  color: #151718;
}
.Btn:hover {
  opacity: 0.5;
}
