.HeaderCntr {
  .CntrWrap {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background: rgb(228, 13, 13);
    background: rgb(19, 32, 217);
    .Header {
      @media screen and (max-width: 768px) {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .TitleWrap {
      display: flex;
      max-width: 600px;
      width: 100%;
      justify-content: space-around;
      color: #ffff;
      .Titles {
        text-transform: uppercase;

        cursor: pointer;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.04em;
      }
      .Titles:hover {
        color: red;
      }
    }
  }
}
