.HeaderCntr {
  .CntrWrap {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background: rgb(228, 13, 13);
    background: rgb(19, 32, 217);
    .Header {
    }
    .TitleWrap {
      display: flex;
      max-width: 500px;
      width: 100%;
      justify-content: space-around;
      color: #ffff;
      .Titles {
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
