.Projects {
  background: rgba(240, 248, 255, 0.548);
  color: #151718;
  padding: 70px 200px;
  .Container {
    .Head {
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-weight: 800;
      font-size: 40px;
      letter-spacing: 0.04em;
      padding-bottom: 100px;
    }
  }
  .MainWrap {
    width: 400px;
    background: #151718;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    border: 1px solid rgb(30, 255, 0);
    margin-bottom: 50px;
    .Wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      .ImgCntr {
        width: 300px;
        padding-bottom: 10px;
      }
    }
    .Btn {
      width: 250px;
      height: 50px;
      background: red;
      border: 0;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
