.Home {
  // background: #151718;
  color: #ffff;
  background-image: url(/public/images/background.png);
  .MainCntr {
    padding: 150px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Text {
      letter-spacing: 0.04em;
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;
      padding-top: 50px;
      .Name {
        padding-bottom: 15px;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 0.04em;
        display: flex;
        flex-direction: column;
      }
      .Head {
        padding-bottom: 35px;
        font-size: 25px;
        font-weight: 800;
        color: GOLD;
      }
      .Desc {
        padding-bottom: 60px;
        font-size: 22px;
        font-weight: 700;
      }
    }
    .Profile {
      width: 100%;
      max-width: 300px;
      height: 300px;
      border-radius: 10%;
      background: #ffff;
      border: 1px solid rgba(255, 0, 251, 0.399);
    }
  }
}
